/* Hero */

.header-style-1 {
  background-image: none !important;
  height: 100vh !important;
  border-radius: 0 !important;
}

.hero-banner-title h1 {
  position: relative !important;
  bottom: 0 !important;
  left: 0 !important;
}

.team-list {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  flex: 1 1 calc(25% - 10px);
  flex-wrap: wrap;
}

.hero-banner {
  margin-top: -90px;
}

.hero-banner-title {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.hero-banner-title h2 {
  font-size: 45px;
  margin-right: 20%;
}

.hero-banner-logo {
  /* margin-top: 170px; */
  z-index: 9999;
}

.bg-style-inner-1 {
  width: 50%;
  margin-left: auto;
  color: #fff;
  position: relative;
  padding-top: 90px;
}

.bg-style-inner-1 p {
  font-size: 132px;
  line-height: 1.2;
  margin-bottom: 50px;

}

.text-21 {
  font-weight: bold;
}

.bg-style-inner-1 p span {
  font-size: 90px;
  display: block;
}

.bg-style-inner-1 h4 span {
  display: block;
  font-size: 22px;
}

.bg-style-inner-1 h4 {
  font-size: 80px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {

  /* Title container on right */
  .hero-mobile-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 22px;
    line-height: 1.3;
    margin: 0;
    margin-top: 20px;
    height: 80vh;
  }

  .hero-mobile-title span {
    font-size: 12px;
  }

  .hero-mobile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 54vh !important;
  }

  /* .hero-banner {
    height: 60vh;
  } */

  .team-list {
    width: 80%;
    margin: 0px;
    height: 25vh;
  }

  .attachment-list {
    width: 180px;
    /* height: 180px !important;
    gap: 0px; */
  }

  .team-list a {
    height: 200px !important;
  }

  .hero-banner-title h1 {
    display: none;
  }

  .hero-banner .team-list a {
    flex: 1 1 calc(50% - 10px);
    padding: 0px 0px;
    height: 180px !important;
  }

  .hero-banner {
    margin-top: 0;
  }

  .hero-banner .team-list {
    column-gap: 0;
  }

  .hero-banner-title h2 {
    margin-right: 0;
    font-size: 22px;
  }

  .hero-banner-title {
    padding-left: 10px;
    margin: 10px 0 20px 0px;
  }

  .header-style-1 {
    height: auto !important;
  }
}

@media screen and (min-width: 781px) and (max-width: 1010px) {
  .hero-mobile-title {
    display: none;
  }
}

@media screen and (min-width: 1010px) {
  .hero-mobile-title {
    display: none;
  }
}