/* news css start */

.news-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 40px;
  overflow: hidden;
}
[class*="newsbg-img"]:before {
  position: absolute;
  content: "";
  margin-top: -100px;
  margin-left: 200px;
  width: 699px;
  height: 699px;
  aspect-ratio: 1 / 1;
  opacity: 0.3;
  background: url(images/circle-white.svg) no-repeat 0 0 / cover;
}

/* ---- Media Queries (ONLY news-img) ---- */

@media (max-width: 768px) {
  .news-list-box {
    margin-top: -200px;
  }
}
@media (max-width: 600px) {
  .newsbg-img {
    display: none;
  }
}
@media (max-width: 576px) {
  [class*="newsbg-img"]:before {
    /* position: absolute; */
    content: "";
    width: 350px;
    display: none;

    aspect-ratio: 1 / 1;
    opacity: 0.4;
    background: url(images/circle-white.svg) no-repeat 0 0 / cover;
  }
}

@media (max-width: 400px) {
  .news-list-box {
    margin-top: -200px;
  }
}

.news-title-area {
  position: relative;
  z-index: 2;
  margin-left: 120px;
}

.news-announce {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.news-main-title {
  color: #e60012;
  font-size: 58px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.news-list-box {
  margin-left: 180px;
  margin-top: -250px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  z-index: 2;
  max-width: 1200px;
  position: relative;
}

.news-item {
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  gap: 20px;
  /* max-width: 1200px; */
  padding: 18px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.news-item-date {
  display: block;
  color: black;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 15px;
}

.news-footer-space {
  height: 100px;
}

@media (max-width: 1024px) {
  .news-list-box {
    margin-left: 150px;
    margin-top: -200px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .news-list-box {
    margin-left: 0px;
    margin-top: -150px;
  }
  .news-item {
    flex-direction: column;
  }
  .news-main-title {
    font-size: 40px;
  }
  .news-announce {
    font-size: 16px;
  }
}

/* Small devices */
@media (max-width: 576px) {
  .news-img {
    top: 10px;
    left: 10px;
  }

  .news-list-box {
    margin-left: 0;
    margin-top: -120px;
  }
  .news-main-title {
    font-size: 32px;
  }
  .news-announce {
    font-size: 14px;
  }
  .news-item {
    padding: 15px 20px;
  }
}

/* Extra small devices */
@media (max-width: 400px) {
  .news-main-title {
    font-size: 28px;
  }
  .news-announce {
    font-size: 13px;
  }
  .news-item {
    padding: 12px 15px;
    font-size: 14px;
  }
}
/* news css end */
