/* .problem-section {
  position: relative;
  padding: 80px 180px;
  overflow: hidden;
}
.problem-section::after {
  position: absolute;
  top: 60px;
  left: 800px;
  content: "";
  width: 260px;
  aspect-ratio: 1 / 1;
  background: url(/wp-content/themes/e-grant/images/home/problem-bg.png)
    no-repeat center / cover;
  opacity: 0.5; 
  z-index: 7;
  pointer-events: none;
}

.content-wrapper {
  position: relative;
  display: flex;
  gap: clamp(24px, 4vw, 60px);
  align-items: center;
  z-index: 1;
  font-family: "Gothic UI";
}

.image-wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
}

.image-wrapper img {
  width: 70%;
  height: auto;
  margin-top: 50px;
  border-radius: 24px;
  object-fit: cover;
}

.text-wrapper {
  width: 50%;
}

.text-wrapper h2 {
  color: #c40000;
  font-size: clamp(24px, 3vw, 36px);
  margin-bottom: 16px;
  font-size: 60;
}

.text-wrapper h2 span {
  font-size: clamp(32px, 4vw, 48px);
  font-weight: 800;
  font-size: 112px;
}

.text-wrapper p {
  font-size: clamp(14px, 1.4vw, 20px);
  line-height: 1.8;
  margin-bottom: 14px;
}

.text-wrapper .highlight {
  margin-bottom: 18px;
}

.text-wrapper .emphasis {
  color: #c40000;
  font-weight: 700;
  font-size: 30px;
}

.text-wrapper .final {
  color: #c40000;
  font-weight: bold;
  font-size: 30px;
}

@media (max-width: 900px) {
  .content-wrapper {
    flex-direction: column;
  }

  .bg-text {
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    opacity: 0.15;
  }

  .text-wrapper {
    text-align: center;
  }
}
@media screen and (max-width: 781px) {
  .problem-section {
    position: relative;
    padding: 10px 5px;
    overflow: hidden;
  }
  .problem-section::after {
    position: absolute;
    top: 60px;
    left: 220px;
    content: "";
    width: 150px;
    aspect-ratio: 1 / 1;
    background: url(/wp-content/themes/e-grant/images/home/problem-bg.png)
      no-repeat center / cover;
    opacity: 0.9; 
    z-index: 7;
    pointer-events: none;
  }
  .image-wrapper {
    width: 100%;
    display: flex;
    justify-content: start;
  }

  .image-wrapper img {
    width: 100%;
    height: auto;
    margin-top: 50px;
    border-radius: 24px;
    object-fit: cover;
  }

  .text-wrapper {
    width: 100%;
    padding: 5px 20px;
    text-align: start;
  }
  .text-wrapper h2 {
    color: #c40000;
    font-size: clamp(24px, 3vw, 36px);
    margin-bottom: 16px;
    font-size: 60;
  }

  .text-wrapper h2 span {
    font-size: clamp(32px, 4vw, 48px);
    font-weight: 800;
    font-size: 42px;
  }

  .text-wrapper p {
    font-size: clamp(14px, 1.4vw, 20px);
    line-height: 1.8;
    margin-bottom: 14px;
  }

  .text-wrapper .highlight {
    margin-bottom: 18px;
  }

  .text-wrapper .emphasis {
    color: #c40000;
    font-weight: 700;
    font-size: 15px;
  }

  .text-wrapper .final {
    color: #c40000;
    font-weight: bold;
    font-size: 15px;
  }
} */

.problem-section {
  position: relative;
  padding: 180px 0px 30px 0px;
  overflow: hidden;
}

.problem-section::after {
  content: "";
  position: absolute;
  top: 90px;
  right: 30px;
  width: 220px;
  aspect-ratio: 1 / 1;
  background: url(/wp-content/themes/e-grant/images/home/problem-bg.png)
    no-repeat center / cover;
  opacity: 0.95;
  pointer-events: none;
  z-index: 9;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  z-index: 1;
  font-family: "Gothic UI";
  padding: 0 0px;
}

/* Image */
.image-wrapper {
  width: 100%;
}

.image-wrapper img {
  width: 75%;
  /* background: #000; */
  /* border-radius: 0 20px 20px 0; */
}

/* Text */
.text-wrapper {
  width: 100%;
  padding: 0px 30px;
}

.text-wrapper h2 {
  color: #c40000;
  font-size: 32px;
  margin-bottom: 12px;
}

.text-wrapper h2 span {
  display: block;
  font-size: 60px;
  font-weight: 800;
}

.text-wrapper p {
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 12px;
}

.text-wrapper .emphasis,
.text-wrapper .final {
  color: #c40000;
  font-weight: 700;
  font-size: 20px;
}

@media (min-width: 768px) {
  .problem-section {
    padding: 80px 32px;
  }
  .problem-section::after {
    top: 30px;
    right: 420px;
    width: 220px;
    opacity: 0.9;
    z-index: 60;
    background: url(/wp-content/themes/e-grant/images/home/problem-bg.png)
      no-repeat center / cover;
  }

  .content-wrapper {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .image-wrapper {
    width: 50%;
  }

  .image-wrapper img {
    width: 100%;
  }

  .text-wrapper {
    width: 50%;
    z-index: 999;
  }

  .text-wrapper h2 {
    font-size: 26px;
    z-index: 999;
  }

  .text-wrapper h2 span {
    font-size: 42px;
  }

  .text-wrapper p {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .problem-section {
    padding: 60px 80px;
  }

  .problem-section::after {
    top: 80px;
    right: 420px;
    width: 220px;
    opacity: 0.9;
    z-index: 50;
    background: url(/wp-content/themes/e-grant/images/home/problem-bg.png)
      no-repeat center / cover;
  }

  .content-wrapper {
    gap: 60px;
  }

  .image-wrapper {
    width: 55%;
  }

  .text-wrapper {
    width: 45%;
    z-index: 999;
  }

  .text-wrapper h2 {
    font-size: 32px;
  }

  .text-wrapper h2 span {
    font-size: 64px;
  }

  .text-wrapper p {
    font-size: 16px;
  }

  .text-wrapper .emphasis,
  .text-wrapper .final {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .problem-section {
    width: 1260px;
    margin: 0px auto;
    z-index: 10;
    padding: 200px 0px;
  }

  .problem-section::after {
    width: 260px;
    right: 240px;
    opacity: 0.95;
    position: absolute;
    top: 60px;
    right: 490px;
    width: 370px;
    z-index: 10;
    padding-top: 200px !important;
    background: url(/wp-content/themes/e-grant/images/home/problem-bg.png)
      no-repeat center / cover;
  }

  .image-wrapper img {
    width: 100%;
  }

  .text-wrapper h2 {
    font-size: 60px;
    z-index: 999 !important;
  }
  .text-wrapper {
    z-index: 999;
    width: 60%;
  }

  .text-wrapper h2 span {
    font-size: 112px;
    z-index: 999 !important;
  }

  .text-wrapper p {
    font-size: 18px;
  }

  .text-wrapper .emphasis,
  .text-wrapper .final {
    font-size: 22px;
  }
}
