/* Mobile view (max-width: 768px) */

@media (max-width: 768px) {
  /* .hero-banner .team-list a {
    flex: 1 1 calc(50% - 10px); 
    padding: 10px 15px;
  }
  .hero-banner {
    margin-top: 0;
  }
  .hero-banner .team-list {
    column-gap: 0;
  }

  .hero-banner-title h2 {
    margin-right: 0;
    font-size: 22px;
  }

  .hero-banner-title {
    padding-left: 10px;
    margin: 10px 0 20px 0px;
  }
  .header-style-1 {
    height: auto !important;
  } */
  #recruit-banner {
    overflow: hidden;
  }

  .text-style-3 span {
    line-height: 17px;
    font-size: 12px;
  }

  .text-style-2 {
    font-size: 61px;
    margin-top: -45px;
    z-index: 9;
    position: relative;
    text-align: center;
  }

  .text-style-2 span {
    font-size: 50px;
  }

  .bg-style-inner-1 p {
    font-size: 62px;
  }

  .bg-style-inner-1 p span {
    font-size: 41px;
  }

  .bg-style-inner-1 h4 {
    font-size: 36px;
  }

  /* .bg-style-inner-1 {
    margin-left: 20px;
    width: 100%;
  } */

  .interview-img-2 {
    height: 650px;
  }

  .interview-img-right-style .bg-style-inner-1 p span {
    font-size: 38px;
  }

  .interview-img-right-style h4 {
    margin: 0;
  }

  /* .interview-img-right-style .bg-style-inner-1 {
    padding-top: 260px;
  } */

  .bg-style-inner-1 {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .interview-img-middle-style .bg-style-inner-1 p span {
    font-size: 62px;
  }

  .interview-img-middle-style .bg-style-inner-1 p {
    font-size: 26px;
    margin-bottom: -100px;
  }
}

/* Default: Desktop */
.desktop-img {
  display: block;
}

.mobile-img {
  display: none;
}

/* Mobile view */
@media (max-width: 767px) {
  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }
}
