/* Services by Shakil */

.service {
  background: #c30000;
  color: #fff;
  padding: 60px 200px;
}
.service-banner {
  position: absolute;
  top: 40px;
  left: 90px;
  width: 695px;
  height: 375px;
}
.service-slogan {
  font-weight: 400;
  font-style: semi-bold;
  font-size: 20px;
  font-family: Segoe UI;
}
.service-title {
  font-weight: 600;
  font-style: semi-bold;
  font-size: 110px;
  font-family: barlow;
}
.service-sub-title {
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  font-family: Yu Gothic UI;
}
.card-wrapper {
  display: flex;
  justify-content: end;
  margin: 40px 0px;
  width: 1015px;
  background-color: #a52f2f;
  border-radius: 30px;
}
.service-card {
  width: 600px;
  display: flex;
  padding: 40px 80px;
  gap: 20px;
  border-radius: 20px;
  flex-direction: column;
}
.service-white {
  display: flex;
  justify-content: end;
  position: relative;
}
.service-logo {
  width: 285px;
}
.service-button {
  background: #c30000;
  color: #fff;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 13px;
  font-family: Segoe UI;
  border: none;
  border-radius: 20px;
  width: fit-content;
  cursor: pointer;
}
.service-button-two {
  background: transparent;
  color: #fff;
  padding: 15px 80px;
  font-weight: 700;
  font-size: 15px;
  font-family: Segoe UI;
  border: 1px solid #fff;
  border-radius: 50px;
  width: fit-content;
  cursor: pointer;
}
.service-card p {
  font-weight: 400;
  font-size: 16px;
  font-family: Segoe UI;
}

.service-small-card {
  background-color: #a52f2f;
  width: fit-content;
  padding: 0px 60px 80px 60px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  border-radius: 15px;
}
.service-small-card img {
  width: 200px;
  height: 210px;
}
.service-small-card h3 {
  text-align: center;
  font-size: 20px;
}
.service-small-card p {
  font-size: 15px;
}
.service-smallcard-wrapper {
  display: flex;
  flex-basis: 2;
  gap: 80px;
}
.service-smallcard-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.service-smallcard-wrapper > * {
  flex: 0 0 calc(50% - 30px);
}
.card-wrapper::after {
  position: absolute;
  top: 305px;
  left: 300px;
  content: "";
  width: 304px;
  aspect-ratio: 1 / 1;
  background: url(images/circle-white.svg) no-repeat center / cover;
  opacity: 0.5; /* ✅ proper opacity */
  z-index: 0;
  pointer-events: none;
}
.card-wrapper::before {
  position: absolute;
  top: 900px;
  right: 300px;
  content: "";
  width: 304px;
  aspect-ratio: 1 / 1;
  background: url(images/circle-white.svg) no-repeat center / cover;
  opacity: 0.5; /* ✅ proper opacity */
  z-index: 0;
  pointer-events: none;
}

@media screen and (max-width: 781px) {
  .service {
    background: #c30000;
    color: #fff;
    padding: 30px 30px;
  }

  /* emon */
  .service-title {
    width: 424px;
    height: 132px;

    font-weight: 600;
    font-style: semi-bold;
    font-size: 40px;
    font-family: barlow;
  }
  .service-slogan {
    font-weight: 400;
    font-style: semi-bold;
    font-size: 15px;
    font-family: Segoe UI;
  }
  .service-sub-title {
    font-weight: 500;
    font-style: bold;
    font-size: 20px;
    font-family: Yu Gothic UI;
  }
  .service-white {
    display: flex;
    justify-content: start;
  }

  .service-card {
    width: 600px;
    display: flex;
    padding: 40px 80px;
    gap: 20px;
    border-radius: 20px;
    flex-direction: column;
  }
  .service-banner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 275px;
    margin-top: 15px;
  }
  .card-wrapper {
    display: flex;
    margin-top: 250px;
    padding-top: 10px;
    width: 100%;
    justify-content: center;
    background-color: #a52f2f;
    border-radius: 30px;
  }
  .service-button-two {
    background: transparent;
    color: #fff;
    padding: 15px 10px;
    font-weight: 500;
    font-size: 12px;
    font-family: Segoe UI;
    border: 1px solid #fff;
    border-radius: 50px;
    width: 50%;
    cursor: pointer;
    justify-content: center;
    align-self: center;
  }
  .service-white {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .service-logo {
    width: 285px;
  }
  .service-card {
    width: full;
    display: flex;
    padding: 40px 20px;
    gap: 20px;
    border-radius: 20px;
    flex-direction: column;
  }
  .service-smallcard-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .service-smallcard-wrapper > * {
    flex: 0 0 calc(100% - 10px);
  }
  /* .service-small-card {
    background-color: #a52f2f;
    width: fit-content;
    padding: 0px 20px 30px 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;
    border-radius: 15px;
  } */
}

@media screen and (max-width: 1042px) {
  .service-small-card {
    background-color: #a52f2f;
    width: fit-content;
    padding: 0px 20px 30px 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;
    border-radius: 15px;
  }
}
