.font-style-1 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0;
}

.interview-img-2 {
  position: relative;
  width: 100%;
  height: 820px;
  overflow: hidden;
}

.interview-img-2 picture,
.interview-img-2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.interview-img-2 img {
  object-fit: cover;
}

.specialist-inner {
  display: flex;
  flex-wrap: wrap;
}

.specialist-inner .col {
  align-self: center;
  width: 50%;
}

.specialist-inner-wrapper h2 {
  font-size: 38px;
}

.specialist-inner-text-style h2 {
  font-size: 110px;
  color: #c30000;
  text-align: center;
}

.specialist-inner-text-style h3 {
  font-size: 145px;
  text-align: right;
  color: #fff;
}

.specialist-inner-wrapper {
  background: #c30000;
  color: #fff;
  border-radius: 0 375px 375px 0;
  padding: 80px;
  padding-right: 370px;
  padding-left: 200px;
}

.text-style-3 {
  font-size: 100px;
  line-height: 1;
}

.text-style-3 span {
  font-size: 21px;
  display: block;
  line-height: 120px;
}

.specialist-img img {
  width: 530px;
  margin-left: -220px;
}

.specialist-inner-section .btn-entry {
  display: inline-block;
  width: 140px;
  font-size: 22px;
  line-height: 54px;
  text-align: center;
  color: #c30000;
  background: #fff;
  border-radius: 100vh;
}

.specialist-inner-text-style h3 {
  position: absolute;
  right: 0;
  width: 350px;
  top: 0;
  line-height: 1.2;
}

.specialist-inner-text-style {
  position: relative;
}

.text-style-3 {
  color: #c30000;
  font-family: "Barlow", sans-serif;
  margin-top: -265px;
  z-index: 5;
  position: relative;
  margin-left: 210px;
}

.specialist-img {
  position: relative;
  z-index: 2;
}

.specialist-inner-text-section {
  position: relative;
}

.text-style-2 span {
  font-size: 104px;
}

.text-style-2 {
  font-size: 110px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #fff;
  text-align: right;
}

.specialist-inner-section {
  padding: 80px 0;
}

.specialist-inner-wrapper h2 span {
  font-size: 77px;
}

@media (max-width: 768px) {
  .specialist-img {
    margin-top: 130px;
  }
  .text-style-mobile {
    display: block;
  }
  .specialist-inner .col {
    align-self: center;
    width: 100%;
  }

  .specialist-inner {
    flex-direction: column-reverse;
  }

  .specialist-inner-text-style h2 {
    font-size: 89px;
  }

  .specialist-inner-text-style h3 {
    font-size: 59px;
    position: relative;
    width: 100%;
  }
  .specialist-img img {
    margin-left: 0;
  }

  .specialist-inner-wrapper {
    padding: 80px 20px;
    margin-top: 350px;
    border-radius: 0;
    position: relative;
  }

  .specialist-inner-wrapper h2 span {
    font-size: 56px;
  }

  .specialist-inner-wrapper h2 {
    font-size: 27px;
  }
  .text-style-3 {
    font-size: 40px;
    margin-left: 115px;
    margin-top: -470px;
  }

  .specialist-inner-wrapper:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #c30000;
    border-radius: 188px 188px 0px 0px;
    margin-top: -230px;
    z-index: -1;
    margin-left: -20px;
  }
  .specialist-inner-text-style h2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .specialist-inner-text-style {
    display: flex;
  }

  .specialist-img {
    margin-top: -13px;

    padding: 20px;
    margin-top: 0px;
  }
  .specialist-inner-text-style h3 {
    position: absolute;
    right: 25px;
    width: 230px;
    top: 0;
    line-height: 1;
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  .specialist-inner-wrapper h2 span {
    font-size: 40px;
  }
  .specialist-inner-wrapper {
    background: #c30000;
    color: #fff;
    border-radius: 0 375px 375px 0;
    padding: 80px;
    padding-right: 215px;
    padding-left: 34px;
  }
  p {
    font-size: 14px;
    line-height: 2.2;
  }
  .specialist-img img {
    width: 350px;
    margin-left: -212px;
  }

  .specialist-inner-section .btn-entry {
    display: inline-block;
    width: 120px;
    font-size: 16px;
    line-height: 54px;
    text-align: center;
    color: #c30000;
    background: #fff;
    border-radius: 90vh;
  }
  .specialist-inner-text-style h2 {
    font-size: 66px;
    color: #c30000;
    text-align: start;
  }
  .specialist-inner-text-style h3 {
    font-size: 102px;
    text-align: right;
    color: #fff;
  }
  .text-style-3 {
    color: #c30001;
    font-family: "Barlow", sans-serif;
    margin-top: -135px;
    z-index: 5;
    position: relative;
    margin-left: 40px;
    font-size: 60px;
    line-height: 1;
  }

  .text-style-2 {
    font-size: 80px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: #fff;
    text-align: right;
  }
  .text-style-3 span {
    font-size: 21px;
    display: block;
    line-height: 60px;
  }
}

@media (min-width: 1440px) {
  .specialist-inner-wrapper {
    background: #c30000;
    color: #fff;
    border-radius: 0 375px 375px 0;
    padding: 160px;
    padding-right: 250px;
    padding-left: 150px;
  }
  .specialist-img img {
    width: 522px;
    margin-left: -212px;
  }
  .specialist-inner-text-style h2 {
    font-size: 70px;
    color: #c30000;
    text-align: center;
  }
  .specialist-inner-text-style h3 {
    font-size: 115px;
    text-align: right;
    color: #fff;
  }
  .text-style-3 {
    color: #c30001;
    font-family: "Barlow", sans-serif;
    margin-top: -189px;
    z-index: 5;
    position: relative;
    margin-left: 134px;
  }

  .text-style-3 {
    font-size: 77px;
    line-height: 1;
  }
  .text-style-2 {
    font-size: 90px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: #fff;
    text-align: right;
  }
  .text-style-2 span {
    font-size: 90px;
  }
}
