/*
 * Interview Archive Styles
 * Contains: Interview list, cards, thumbnails
 */

/* ========== INTERVIEW ARCHIVE ========== */
#interview-archive.content a {
    text-decoration: none;
}

#interview-archive h2 {
    position: relative;
    padding: 80px 0 45px;
    font-size: 45px;
    line-height: 1.7;
    z-index: 1;
}

#interview-archive h2 span {
    font-size: 58px;
    color: #c30000;
}

.interview-list .info {
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    z-index: 1;
}

#interview-archive.content p {
    line-height: 1.75;
}

#interview-archive .pos {
    margin: 26px 0 14px;
    font-size: 16px;
    white-space: nowrap;
}

#interview-archive h3 {
    font-size: 30px;
}

#interview-archive .join {
    margin: 15px 0 15px -0.5em;
    font-size: 16px;
}

#interview-archive h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 2.11;
}

.interview-list>a {
    position: relative;
}

.interview-list>a:hover {
    opacity: 1;
}

.interview-list>a:hover>div {
    position: relative;
    z-index: 10;
    opacity: 0.7;
}

.interview-list a:first-of-type:after {
    position: absolute;
    content: "";
    aspect-ratio: 1 / 1;
    background: url(../images/omo.svg) no-repeat 100% 100% / cover;
    z-index: -1;
}

/* ========== DESKTOP INTERVIEW ARCHIVE ========== */
@media screen and (min-width: 782px) {
    #interview-archive:before {
        width: 594px;
        top: -312px;
        right: -384px;
        z-index: 0;
    }

    .interview-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: -100px;
    }

    .interview-list:after {
        content: "";
        width: 33%;
        max-width: 356px;
    }

    .interview-list>a {
        margin-bottom: 70px;
        width: 33%;
        max-width: 356px;
    }

    .interview-list a:first-of-type:after {
        top: -243px;
        left: -212px;
        width: 410px;
    }

    .interview-list a:nth-of-type(3):before,
    .interview-list a:nth-of-type(5):before,
    .interview-list a:nth-of-type(6):before,
    .interview-list a:nth-of-type(8):before {
        content: none;
    }

    .interview-list a:nth-of-type(4):before {
        top: -286px;
        left: -327px;
        width: 613px;
        z-index: 0;
    }

    .interview-list a:nth-of-type(6):after {
        position: absolute;
        bottom: -227px;
        left: -212px;
        content: "";
        width: 748px;
        height: 515px;
        background: url(../images/omotech-white-square.svg) no-repeat 100% 100% / cover;
        z-index: -1;
    }
}

@media screen and (min-width: 782px) and (max-width: 1130px) {
    .interview-list>a {
        width: auto;
    }
}

/* ========== MOBILE INTERVIEW ARCHIVE ========== */
@media screen and (max-width: 781px) {
    body:not(#page-interview) {
        background: #eaeaea url(../images/circle-white.svg) no-repeat calc(100% + 90px) 257px / 366px auto;
    }

    #interview-archive:before {
        content: none;
    }

    #interview-archive h2 {
        font-size: 20px;
    }

    #interview-archive h2 span {
        font-size: 25px;
    }

    .interview-list {
        padding-bottom: 200px;
        background: url(../images/omotech-white-square.svg) no-repeat 50% 100% / 100% auto;
    }

    .interview-list a {
        display: block;
        margin-bottom: 40px;
    }

    .interview-list a:first-of-type:after {
        position: absolute;
        bottom: -100px;
        left: -53px;
        width: 190px;
    }

    #interview-archive .interview-thumb-wrap {
        margin: auto;
        width: 266px;
    }

    .interview-thumb-wrap:before {
        width: 266px;
    }

    #interview-archive .interview-thumb-wrap img {
        width: 220px;
        margin-bottom: 23px;
    }

    #interview-archive .interview-list .info {
        margin: 0;
    }

    #interview-archive .interview-list .info>div {
        display: flex;
        align-items: center;
        gap: 9px;
        padding-bottom: 10px;
    }

    #interview-archive .pos {
        margin: 16px 0 8px;
        font-size: 13px;
    }

    #interview-archive h3 {
        font-size: 24px;
    }

    #interview-archive .join {
        margin: 0;
        font-size: 13px;
    }

    #interview-archive h4 {
        font-size: 15px;
        line-height: 1.33;
    }

    .interview-list a:nth-of-type(3):before,
    .interview-list a:nth-of-type(6):before {
        bottom: -36px;
        right: -120px;
        width: 359px;
        opacity: 0.6;
    }

    .interview-list a:nth-of-type(4):before {
        content: none;
    }

    .interview-list a:nth-of-type(5):before {
        bottom: -36px;
        left: -120px;
        width: 359px;
        opacity: 0.6;
    }

    .interview-list a:nth-of-type(8):before {
        top: -150px;
        left: -120px;
        width: 359px;
        opacity: 0.6;
    }

    .interview-archive-recruit {
        padding-top: 100px;
    }
}

@media screen and (max-width: 374px) {
    #interview-archive h2 {
        font-size: 16px;
    }

    #interview-archive h2 span {
        font-size: 20px;
    }

    .question p:last-of-type br {
        display: none;
    }
}

/* ========== INTERVIEW THUMBNAIL ========== */
.interview-thumb-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 352px;
    height: 400px;
}

.interview-thumb-wrap img {
    position: relative;
    width: 291px;
    margin-bottom: 30px;
    z-index: 2;
}

.interview-thumb-wrap:before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 352px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
}